@model IEnumerable<EntidadGrupo>
<html>
<head>
    <title>Listado de Grupo</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>

</head>
<!--hola-->
<body style="margin-top:20px">
    <form class="form-horizontal" id="form1">
        <div class="container">
            <div class="row">
                <div class="well well-sm">
                    <fieldset>
                        <table class="table table-hover" style="font-size:small">
                            <thead class="text-primary">
                                <tr>
                                    <th scope="row">
                                        @Html.DisplayNameFor(model => model.Grupo_id)
                                    </th>
                                    <th scope="row">
                                        @Html.DisplayNameFor(model => model.Grupo_descripcion)
                                    </th>
                                    <th scope="row">
                                        @Html.DisplayNameFor(model => model.Grupo_estado)
                                    </th>

                                </tr>
                            </thead>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Grupo_id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Grupo_descripcion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Grupo_estado)
                                    </td>


                                    <td>
                                        @Html.ActionLink("Activar", "ActivarGrupo", new { Grupo_id = item.Grupo_id }) |
                                        @Html.ActionLink("Eliminar", "eliminarAdminGrupo", new { Grupo_id = item.Grupo_id },
                                                        new { onclick = "return confirm('Está seguro de borrar este Grupo?');" })
                                    </td>
                                </tr>

                            }
                        </table>
                        <span>
                            @Html.ActionLink("Volver", "GrupoListado", "Grupo", null, new { @class = "btn btn-primary btn-large" })
                        </span>
                    </fieldset>
                </div>
            </div>
        </div>
    </form>
</body>
</html>

